body{
    font-family: "Inter", serif;
}

.main-logo{
    width: 120px;
}

.navBar{
    margin-top: 20px;
    line-height: 30px;
}

.flex {
    display: flex;
    /* grid-template-columns: 1fr 1fr 2fr; */
    justify-content: start;
    margin: 0px 0px 0px 230px
}
.verticalCenterLink{
display: flex;
flex-direction: column;
justify-content: center;
}
.verticalCenter div{
margin-left: 400px;
}

.verticalCenter a{
    margin: 0 20px 0 20px;
    text-decoration: none;
    color: #666;
    font-size: 15px;
}

hr{
    border : 0.2px solid rgba(212, 209, 209, 0.695)
}


.landing{
    display: flex;
    text-align: center;
    flex-direction: column;
    font-weight: lighter;
}

.landing-h1{
    font-size: 2.75rem;
    font-weight: 500;
    color: #424242;
    line-height: 1.25;
}

.landing-s1{
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 10px;
}

.landing img{
    width: 900px;
    margin:90px 0px 0px 0px;
    
}