
#top-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 70px ;
}

#top-container div{
    display: flex;
    flex-direction: column;
    height: 100%px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

.taskCard{
    border: 2px solid rgba(165, 164, 164, 0.575);

}

#task-details{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    background-color: antiquewhite;
    font-size: 12px;
}
