.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.formBox{
  /* border: 1px solid white; */
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 500px;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1.2rem;

}


.formContainer input{
  font-weight: 600;
  border-radius: 12px;
  border-style: none;
  padding: 9px;
  margin: 1px;
  font-size: 1rem;
}

.formContainer select{
  border-radius: 12px;
  padding: 5px;
  font-size: 1rem;
  background-color: #fff;
}

button{
  border-radius: 5px;
  border-style: none;
  padding: 5px;
  background-color: rgb(79, 196, 250);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background-color: rgb(13, 15, 15);
  padding: 8px;
  color: #fff;
  box-shadow: 0 0 15px rgba(255,255,255, 0.352);

}



.buttonBox{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}